
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

video{
    background-color: aqua;
    width: 100%;
    
}

.progress{
    height: 0.5rem;
    width: max-content;
}
.controls{
    
}