
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    background-color: aqua;
    width: 100%;
    
}

button{
    font-size: 14px;
}
.video-player{
    padding: 0.5rem;
    border: 2px #cccccc solid;
    position: relative;
}

.btn-controls{
    
}

.progress-conatiner{
    width: 100%;
    background: rgb(63, 63, 63);
    height: 0.5rem;
    margin-bottom: 4px;
}

.progress{
    background: rgba(20, 241, 57, 0.8);
    width: 50%;
    height: 0.5rem;
   
}

.progress-filler{
    background-color: blue;
    width: 50%;
}


.btn-controls{
    display: flex;
    align-items: center;
}

.controls{
    bottom: 14px;
    position:absolute;
}